body{
    background: url('/img/lamborghini-hurac-n-7680x5120-9252.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.slide-img-ht1{
    height: 750px;
}